@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.card {
    padding: 2em;
    background-color: #203359;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 75%;
    margin: 2rem auto;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.formRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.formGroup {
    flex: 1;
    margin-right: 1rem;
}

.formGroup:last-child {
    margin-right: 0;
}

input {
    width: 100%;
    padding: 10px;
    padding: 8px; 
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}

select {
    padding: 10.5px;
    width: 100%;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}

.containerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.submitBtn {
    background-color: #418552;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.submitBtn:hover {
    background-color: #1f8138;
}

.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
    animation: fadeIn 0.3s ease-in;
  }
  
  .alert2 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #af4c4c;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
    animation: fadeIn 0.3s ease-in;
  }

  .error{
    color: #F5533B;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -20px);
    }
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  
  .success2 {
    background-color: #4CAF50;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .error2 {
    background-color: #f44336;
    font-size: 1rem;
    font-weight: 600;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
  }
