@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); /* Nueva fuente */

/* Aplicar la fuente globalmente */
.sidebar {
  font-family: 'Roboto', sans-serif;
  width: 250px;
  height: 100vh;
  background-color: #2E6957;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.companyLogo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.companyName {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px; /* Añadir espaciado */
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.userAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #007bff;
}

.userName {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.5px; /* Mejor espaciado */
}

.sidebarNav {
  flex-grow: 1;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.navItem:hover {
  background-color: #256f56;
  transform: scale(1.02);
}

.navItem svg {
  margin-right: 10px;
}

.logoutButton {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #b60b1c;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 150px;
  transform: translateX(27px);
}

.logoutButton:hover {
  background-color: #6e0a14;
  transform: scale(1.05);
}

.logoutButton svg {
  margin-right: 10px;
}
