@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); /* Nueva fuente */

aside {
  display: flex;               /* Usa flexbox para centrar el contenido */
  justify-content: center;      /* Centra horizontalmente */
  align-items: center;          /* Centra verticalmente */
  height: 100vh;                /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  min-width: 20%;  
  max-width: 20%;               /* Asegura que el contenedor ocupe todo el ancho de la pantalla */
}

.sidebar {   
  font-family: 'Roboto', sans-serif;             /* Deja que la altura se ajuste al contenido */
  background-color: #1D1D1D;   /* Color de fondo de la barra lateral */
  border-right: 1px solid #1D1D1D;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-radius: 10px;
  min-width: 90%;
  max-width: 90%;
  height: 95%;   /* Centrar el contenido dentro de la sidebar */
  justify-content: center !important;  /* Centrar el contenido de la sidebar */
  align-items: center !important;      /* Centrar horizontalmente el contenido */
}
  
  .sidebarHeader {
    display: flex;
    align-items: center;
  }
  
  .companyLogo {
    width: 80px; /* Aumenté el tamaño para mejor visibilidad */
    height: 80px; /* Aumenté el tamaño para mejor visibilidad */
    padding: 0;
    margin: 0;
  }
  
  .companyName {
    font-size: 20px; /* Tamaño de fuente más grande para el nombre de la empresa */
    font-weight: bold;
    color: #ffffff; /* Color más oscuro para un contraste mejor */
  }
  
  .userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 90%;
  }
  
  .userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #007bff; /* Agregué un borde azul al avatar */
  }
  
  .userName {
    font-size: 18px; /* Tamaño de fuente más grande para el nombre del usuario */
    color: #ffffff; /* Color más suave para el texto del nombre */
    font-weight: 500; /* Peso de fuente más ligero para un diseño moderno */
  }
  
  .sidebarNav {
    flex-grow: 1;
  }
  
  .navItem {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s;
    width: 90%;
  }
  
  
  .navItem:hover {
    background-color: #203359; /* Color de fondo en hover más suave */
    transform: scale(1.02); /* Efecto de escala en hover */
  }
  
  .navItem svg {
    margin-right: 10px;
  }

  .logoutButton {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #1D1D1D;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 90%;
  }
  
  
  .logoutButton:hover {
    background-color: #8C564F; /* Color de fondo más oscuro en hover */
    transform: scale(1.05); /* Efecto de escala en hover */
  
  }
  
  .logoutButton svg {
    margin-right: 10px;
  }

.logoutIcon, .userIcon, .usersIcon, .activityIcon, .userplusIcon{ 
  color:#60BF78;
}
  